extends /_layouts/base

include /_mixins/open-with-codepen
include /_mixins/fa-icon

append head
	title “#{demo.title ? demo.title : "Untitled"}” demo by Nathan Knowler
	if demo.description
		meta(name="description" content=demo.description)
	style!= demo.css
	script(type="module")!= demo.js
	| !{demo.head}

block body
	if codepen
		+open-with-codepen
	| !{demo.html}
