extends base

include /_mixins/nav-link.pug

append head
	title #{title} – Nathan Knowler
	if description
		meta(name="description" content=description)
	meta(name="author" content="Nathan Knowler")
	base(href=SITE_URL)
	if canonical
		link(rel="canonical" href=canonical)
	meta(name="webmention" content=new URL("/webmention", SITE_URL))
	link(rel="stylesheet" href="/main.css")
	link(rel="author" href="/about" title="About the author")
	link(rel="alternate" href="/feed.xml" type="application/rss+xml" title="RSS")

block body
	a(href=`${currentPath}#content`).skip-link.visually-hidden Skip to content
	header.h-card
		+nav-link(href="/").u-url
			span.p-name Nathan Knowler
		span(hidden).u-photo https://github.com/knowler.png
		span(hidden).p-note Building websites. Interested in Accessibility, Progressive Enhancement, and Web Components. Proudly Métis.
		nav(aria-label="primary")
			ul(role="list")
				li: +nav-link(href="/") Welcome
				li: +nav-link(href="/blog") Blog
				li: +nav-link(href="/about") About
				li: +nav-link(href="/uses") Uses
				li: a(rel="me" href="https://github.com/knowler")
					span.visually-hidden @knowler on GitHub
					include /_icons/github.svg
				li: a(rel="me" href="https://sunny.garden/@knowler")
					span.visually-hidden @knowler@sunny.garden on Mastodon
					include /_icons/mastodon.svg
	main#content
		block content
	footer
		mixin license-link
			a(rel="license" href="https://creativecommons.org/licenses/by-nc-sa/4.0/").
				CC BY-NC-SA 4.0 license
		p #[a(href="https://github.com/knowler/knowler.dev") Code] and content by Nathan Knowler.
		p Except if noted otherwise, content on this website is licensed under a #[+license-link].
		nav(aria-label="secondary")
			ul(role="list")
				li: +nav-link(href="/accessibility") Accessibility
				li: +nav-link(href="/privacy") Privacy
				li: +nav-link(href="/webmention") Webmention
				li: a(href="/feed.xml") RSS
