mixin h1(content)
	h1(id=kebabCase(content))&attributes(attributes)
		if block
			block
		else
			!= content

mixin h2(content)
	h2(id=kebabCase(content))&attributes(attributes)
		if block
			block
		else
			= content

mixin h3(content)
	h3(id=kebabCase(content))&attributes(attributes)
		if block
			block
		else
			= content

mixin h4(content)
	h4(id=kebabCase(content))&attributes(attributes)
		if block
			block
		else
			= content

mixin h5(content)
	h5(id=kebabCase(content))&attributes(attributes)
		if block
			block
		else
			= content
