mixin text-field
	- let {id, optional, description, multiline, ...inputAttributes} = attributes
	- let inputId = id ?? attributes.name
	- let descriptionId = description && `${inputId}-description`
	- let error = issues.find(issue => issue.field === attributes.name)
	- let errorId = error && `${inputId}-error`
	include:css text-field.css
	.form-field(class=(error && 'has-error'))
		label(for=inputId)
			block
		if descriptionId
			.field-description(id=descriptionId)= description
		if errorId
			.field-error(id=errorId)= error.message
		if multiline
			textarea(
				id=inputId
				required=!optional
				aria-describedby=descriptionId
				aria-invalid=!!error
				aria-errormessage=errorId
			)&attributes(inputAttributes)=formData[attributes.name]
		else
			input(
				id=inputId
				required=!optional
				aria-describedby=descriptionId
				aria-invalid=!!error
				aria-errormessage=errorId
				value=formData[attributes.name]
			)&attributes(inputAttributes)
