include form
include checkbox-field
include button

mixin feature-flags-form
	+form("Updated feature flags.")(method="POST")
		+checkbox-field(name="blog:breadcrumbs" type="checkbox" switch checked=flags.has("blog:breadcrumbs"))
			| Breadcrumbs on blog posts
		+checkbox-field(name="blog:pagination" type="checkbox" switch checked=flags.has("blog:pagination"))
			| Pagination for blog
		+env("development")
			+checkbox-field(name="welcome:revamp" type="checkbox" switch checked=flags.has("welcome:revamp"))
				| Revamped welcome page
		fieldset
			legend Experimental
			+checkbox-field(name="experimental:dsd" type="checkbox" switch checked=flags.has("experimental:dsd"))
				| Declarative Shadow DOM (without polyfill)
		fieldset
			legend Ridiculous
			+checkbox-field(name="ridiculous:cursor" type="checkbox" switch checked=flags.has("ridiculous:cursor"))
				| Custom cursor
		+button Save Feature Flags
