extends /_layouts/public

include /_mixins/h

append head
	style: include blog.[slug].css

block content
	article.h-entry
		+h1(title).p-name
		p #[time(datetime=post.publishedAt).dt-published= prettyDateString] – #[a(href=canonical).u-url Permalink]
		.e-content !{post.html}
	aside
		h2 Webmentions
		if post.webmentions.length > 0
			p #[a(href=`/webmention?target=${canonical}`) Send a Webmention]
			details
				summary= post.webmentions.length > 1 ? `${post.webmentions.length} Webmentions` : "1 Webmention"
				ul
					each webmention in post.webmentions
						li: a(href=webmention.source)= webmention.hEntry ? webmention.hEntry.properties.name : webmention.source
		else
			p Be the first to #[a(href=`/webmention?target=${canonical}`) send a Webmention]!
