extends /_layouts/public

include /_mixins/h-entry
include /_mixins/flag

append head
	style: include blog.index.css

block content
	+h-entry("Blog")
		p This is my blog.
		unless posts.length > 0
			p There are no posts.
		else 
			+flag("blog:pagination")
				nav(aria-label="pagination")
					ol(reversed)
						li: a(rel="first" aria-current=(isMostRecent && "page") href="/blog") Most Recent
						unless isMostRecent
							li: a(rel="prev" href=`/blog?after=${posts.at(0).publishedAt}`) Newer
						unless isOldest
							li: a(rel="next" href=`/blog?before=${posts.at(-1).publishedAt}`) Older
						li: a(rel="last" aria-current=(isOldest && "page") href="/blog?oldest") Oldest
			ol(reversed role="list")
				each post in posts
					li: article
						mixin blog-post-title
							h2: a(href=`/blog/${post.slug}`)= post.title
						if post.subtitle
							hgroup: +blog-post-title
						else
							+blog-post-title
						if post.description
							p= post.description
						time(datetime=post.publishedAt)= post.prettyDateString
						if post.webmentions && post.webmentions.length > 0
							p #{post.webmentions.length} #{post.webmentions.length > 1 ? "webmentions" : "webmention"}
