extends /_layouts/sudo

block content
	h1= title
	a(href=`/sudo/content/${type}/new`) New #{labels.singular}
	ul
		each item of items
			li
				h2= item.title
				ul
					li: a(href=`/sudo/content/${type}/${item.id}`) Edit
					li: a(href=`/${item.slug === "welcome" ? "" : item.slug}`) View
